---
const {variant, size, text } = Astro.props;
---

<button class={variant + " " + size}><slot></slot></button>


<style>

button {
    padding: 8px 16px;
    font-weight: 600;
}

.primary {
    background-color: #FF5900;
    color: white;
    font-family: Noka, sans-serif;
    border-radius: 12px;
}

.primary:hover {
    background-color: #FF7A33;
    }
.secondary {
    background-color: none;
    color: #FF5900;
    font-family: Noka, sans-serif;
    border: 2px solid #FF5900;
    border-radius: 12px;
}

.secondary:hover {
    color: #FF7A33;
    border: 2px solid #FF7A33;
}

.small {
    font-size: 1rem;    
}

.medium { 
    font-size: 25px;
}

.large {
    font-size: 2.625rem;
}

/* For screens smaller than 1024px (Tablets and smaller desktops) */
@media (max-width: 1024px) {
    .medium {
        font-size: 26px; /* Smaller font size for medium buttons */
     
    }

    .large {
        font-size: 26px; /* Smaller font size for large buttons */
      
    }
}


@media (max-width: 768px) {
    .medium {
        font-size: 16px; 
        
    }
}


@media (max-width: 480px) {
    .medium {
        font-size: 16px; /* Even smaller font size for medium buttons */
       
    }

    .large {
        font-size: 16px; /* Even smaller font size for large buttons */
      
    }
}

</style>