---
import Button from "./Button.astro"
---
<div class="bg-orange-100 py-10 px-6 rounded-lg border font-body border-gray-300 max-w-2xl mx-auto">
    <div class="mb-8">
      <h2 class="text-blue-700 text-3xl md:text-4xl font-title font-bold uppercase">Infomøder</h2>
      <p class="text-gray-700 mt-4 text-sm md:text-base  max-w-lg">
        Hvis du drømmer om et fantastisk rejseeventyr med masser af adventure, vilde naturoplevelser og spændende kulturmøder, så smut forbi et af vores hyggelige infomøder i København eller Aarhus.
        <br><br>
        Vi runder af med ’Rejsefeber Café’, hvor du kan sludre med tidligere elever, rejseledere og ejerne – og selvfølgelig gi’ den gas med alle de spørgsmål du har.
      </p>
    </div>
  
    <div class="flex flex-col md:flex-row   gap-8">
      <!-- København Section -->
      <div class="flex-1 bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-gray-800 font-title  font-bold text-xl mb-4">KØBENHAVN</h3>
        <div class="flex items-center mb-2">
          <img src="../svg/location.svg" alt="Location" class="h-5 w-5 mr-2">
          <p class="text-gray-700  text-sm">Studenterhuset, Købmagergade 52</p>
        </div>
        <div class="flex items-center mb-2">
          <img src="../svg/calendar.svg" alt="Calendar" class="h-5 w-5 mr-2">
          <p class="text-gray-700 text-sm">16. Januar 2025</p>
        </div>
        <div class="flex items-center">
          <img src="../svg/clock.svg" alt="Clock" class="h-5 w-5 mr-2">
          <p class="text-gray-700 text-sm">17:00-19:00</p>
        </div>
      </div>
  
      <!-- Aarhus Section -->
      <div class="flex-1 bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-gray-800 font-title font-bold text-xl mb-4">ÅRHUS</h3>
        <div class="flex items-center mb-2">
          <img src="../svg/location.svg" alt="Location" class="h-5 w-5 mr-2">
          <p class="text-gray-700 text-sm">Lynfabrikken, Vestergade 49B</p>
        </div>
        <div class="flex items-center mb-2">
          <img src="../svg/calendar.svg" alt="Calendar" class="h-5 w-5 mr-2">
          <p class="text-gray-700 text-sm">14. Januar 2025</p>
        </div>
        <div class="flex items-center">
          <img src="../svg/clock.svg" alt="Clock" class="h-5 w-5 mr-2">
          <p class="text-gray-700 text-sm">17:00-19:00</p>
        </div>
      </div>
    </div>
  
   <div class="mt-ml">
   <Button variant="primary" size="medium">Tilmeld dig infomøde</Button>
  </div>
    </div>
  </div>

