<!-- ---
import Button from "./Button.astro"
---
<div class="py-m px-m rounded-lg border font-body border-orange-500 max-w-2xl mx-auto">
    <div class="mb-8">
      <h2 class="text-blue-800 text-3xl md:text-4xl font-title font-bold uppercase">Online Infomøde</h2>
      <p class="text-gray-700 mt-4 text-sm md:text-base  max-w-lg">
        Hvis du drømmer om et fantastisk rejseeventyr med masser af adventure, vilde naturoplevelser og et spændende kulturmøde så log på vores hyggelige infomøde online.
         <br><br>
         Vi runder af med en virituel ’Rejsefeber Café’, hvor du kan sludre med tidligere elever, rejseledere og ejerne – og selvfølgelig gi’ den gas med alle de spørgsmål du har.
        </p>
    </div>
  
    <div class="flex flex-col md:flex-row  gap-8">
      !-- København Section --
      <div class="flex-1  text-black-500 bg-orange-50 p-6 rounded-lg shadow-md">
        <h3 class="font-title font-bold text-lg mb-4">ONLINE</h3>
        <div class="flex items-center mb-xs">
          <img src="../svg/Location.svg" alt="Location" class="h-5 w-5 mr-2">
          <p class="text-sm">Microsofg Teams</p>
        </div>
        <div class="flex items-center mb-xs">
          <img src="../svg/Calendar.svg" alt="Calendar" class="h-5 w-5 mr-2">
          <p class= "text-sm">16. Januar 2025</p>
        </div>
        <div class="flex items-center">
          <img src="../svg/Time.svg" alt="Clock" class="h-5 w-5 mr-2">
          <p class="text-sm">17:00-19:00</p>
        </div>
      </div>
    </div>
  
   <div class="mt-ml flex justify-center">
   <Button variant="secondary" size="medium">Tilmeld dig infomøde</Button>
  </div>
    </div>
  </div>
 -->
