---
import Anmeldelser from "../components/Anmeldelser.astro"
---

<div class="bg-orange-200 pt-ml py-lg px-ml lg:px-xl">
    <h2 class="text-blue-800 font-extrabold font-title text-medium pb-s text-center md:text-large md:pb-ml uppercase">
      HVAD SIGER VORES TIDLIGERE ELEVER?
    </h2>
    <div x-data="{ currentIndex: 0, cardWidth: 355, totalCards: 5 }" class="relative overflow-hidden">
      <div 
        class="flex transition-transform duration-500"
        :style="`transform: translateX(-${currentIndex * cardWidth}px);`"
      >
        <!-- Cards go here -->
        <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4 px-2" x-show="true">
            <Anmeldelser
              img="../portraits/Sofie.png"
              citat="Det bedste eventyr!"
              stars="../img/stjerner.png"
              name="Sofie H. J. Madsen"
              description="har været på mit livs rejseeventyr..."
              dato="19 Juni 2024"
              læsmere=""
            />
          </div>
          <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4 px-2">
            <Anmeldelser
              img="../portraits/Jes.webp"
              citat="Jeg fortryder intet!"
              stars="../img/stjerner.png"
              name="Jes M."
              description="Jeg husker tydeligt første dag..."
              dato="20 Januar 2024"
              læsmere=""
            />
          </div>
          <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4 px-2">
            <Anmeldelser
              img="../portraits/Josh.webp"
              citat="Fantastisk oplevelse!"
              stars="../img/stjerner.png"
              name="Josh N."
              description="Mit højskoleophold ændrede mit liv..."
              dato="15 August 2023"
              læsmere=""
            />
          </div>
          <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4 px-2">
              <Anmeldelser
              img="../portraits/Kari.webp"
              citat="Jeg fortryder intet!"
              stars="../img/stjerner.png"¨
              name="Line W. Lisby"
              description="Jeg husker tydeligt første dag på mit ophold, hvor jeg står midt i Kathmandu. En..."
              dato="20 Januar 2024"
              læsmere=""/>
            </div>
            <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4 px-2">
              <Anmeldelser
              img="../portraits/Line.webp"
              citat="Jeg fortryder intet!"
              stars="../img/stjerner.png"¨
              name="Line W. Lisby"
              description="Jeg husker tydeligt første dag på mit ophold, hvor jeg står midt i Kathmandu. En..."
              dato="20 Januar 2024"
              læsmere=""/>
            </div>
            <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4 px-2">
              <Anmeldelser
              img="../portraits/Line.webp"
              citat="Jeg fortryder intet!"
              stars="../img/stjerner.png"¨
              name="Line W. Lisby"
              description="Jeg husker tydeligt første dag på mit ophold, hvor jeg står midt i Kathmandu. En..."
              dato="20 Januar 2024"
              læsmere=""/>
            </div>
            <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4 px-2">
              <Anmeldelser
              img="../portraits/Line.webp"
              citat="Jeg fortryder intet!"
              stars="../img/stjerner.png"¨
              name="Line W. Lisby"
              description="Jeg husker tydeligt første dag på mit ophold, hvor jeg står midt i Kathmandu. En..."
              dato="20 Januar 2024"
              læsmere=""/>
            </div>
            <div class="flex-shrink-0 w-full md:w-1/2 lg:w-1/4 px-2">
              <Anmeldelser
              img="../portraits/Line.webp"
              citat="Jeg fortryder intet!"
              stars="../img/stjerner.png"¨
              name="Line W. Lisby"
              description="Jeg husker tydeligt første dag på mit ophold, hvor jeg står midt i Kathmandu. En..."
              dato="20 Januar 2024"
              læsmere=""/>
            </div>
       
        <!-- Additional cards here -->
      </div>
  
      <!-- Navigation Controls -->
      <button 
      @click="currentIndex = (currentIndex === 0) ? totalCards - 1 : currentIndex - 1"  
      class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-blue-800 text-white p-3 rounded-full shadow-lg"
    >
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button 
      @click="currentIndex = (currentIndex + 1) % totalCards"
      class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-blue-800 text-white p-3 rounded-full shadow-lg"
    >
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
    </div>
  </div>