---
import Anmeldelser from "../components/Anmeldelser.astro"
---

<div class="bg-orange-200 pt-ml">
    <h2 class="text-blue-800 font-extrabold font-title text-medium pb-s text-center md:text-large md:pb-ml uppercase">HVAD SIGER VORES TIDLIGERE ELEVER?</h2>
<div class="flex px-2xl pb-xl">
<Anmeldelser
   img="../portraits/Sofie.png"
   citat="Det bedste eventyr!"
   stars="../img/stjerner.png"¨
   name="Sofie H. J. Madsen"
   description="har været på mit livs rejseeventyr. For mig, som er en helt ny og…"
   dato="19 Juni 2024"
   læsmere=""/>

   <Anmeldelser
   img="../portraits/Jes.webp"
   citat="Jeg fortryder intet!"
   stars="../img/stjerner.png"¨
   name="Line W. Lisby"
   description="Jeg husker tydeligt første dag på mit ophold, hvor jeg står midt i Kathmandu. En..."
   dato="20 Januar 2024"
   læsmere=""/>

   <Anmeldelser
   img="../portraits/Josh.webp"
   citat="Jeg fortryder intet!"
   stars="../img/stjerner.png"¨
   name="Line W. Lisby"
   description="Jeg husker tydeligt første dag på mit ophold, hvor jeg står midt i Kathmandu. En..."
   dato="20 Januar 2024"
   læsmere=""/>

   <Anmeldelser
   img="../portraits/Kari.webp"
   citat="Jeg fortryder intet!"
   stars="../img/stjerner.png"¨
   name="Line W. Lisby"
   description="Jeg husker tydeligt første dag på mit ophold, hvor jeg står midt i Kathmandu. En..."
   dato="20 Januar 2024"
   læsmere=""/>

   <Anmeldelser
   img="../portraits/Line.webp"
   citat="Jeg fortryder intet!"
   stars="../img/stjerner.png"¨
   name="Line W. Lisby"
   description="Jeg husker tydeligt første dag på mit ophold, hvor jeg står midt i Kathmandu. En..."
   dato="20 Januar 2024"
   læsmere=""/>
</div>
</div>