---
import SeoPunkt from "../components/SeoPunkt.astro";
---

<section class="bg-orange-50 px-m py-m md:px-2xl md:py-lg">
  <h2
    class="text-blue-800 font-extrabold font-title text-medium pb-s text-center md:text-large md:pb-lg"
  >
    EN REJSE HØJSKOLE FYLDT MED OPELVELSER
  </h2>

  <div class="bg-orange-50 grid grid-cols-1 md:grid-cols-2 gap-m">
    <div class="flex flex-col gap-m">
      <SeoPunkt
        ikon="../svg/Team.svg"
        title="Teambuilding"
        description="Hvorfor tage på et kedeligt kursus i Danmark, når du kan rejse ud i verden og udvikle dig samtidig? Du rejser sammen med andre unge voksne og lærer en hel masse om samarbejde, relationer, fællesskab, konflikter, styrker og stærke teams. Du får ikke blot rejse-erfaring på cv’et, men også et væld af brugbare redskaber til studie eller karriere."
      />

      <SeoPunkt
        ikon="../svg/Frivillig.svg"
        title="Frivilligt arbejde & kulturforståelse"
        description="Drømmer du om at lave frivilligt arbejde og gøre en forskel i et andet land? Mange af vores højskole rejser inkluderer frivilligt arbejde, hvor vi kommer helt tæt på de lokale. Det giver dig en unik indsigt i landet, større forståelse for kulturen og måden man lever på i de forskellige lande."
      />

      <SeoPunkt
        ikon="../svg/World.svg"
        title="Friuger - et væld af muligheder"
        description="Efter spændende og lærerige undervisningsforløb, har vi – alt efter hvilken højskole rejse du vælger – lagt én eller flere friuger ind. Her har I mulighed for selv at tage styringen og udforske dét land, kontinent eller ø-rige vi befinder os i. Friugerne bliver brugt på forskellig vis og oftest deler holdet sig op i lidt mindre grupper for at tage på eventyr – andre gange rejser hele holdet sammen på en fed friuge."
      />

      <SeoPunkt
        ikon="../svg/Vildt.svg"
        title="Vilde naturoplevelser"
        description="Ingen rejse ud i verden uden eventyrlige og vilde naturoplevelser. Mange af de destinationer, hvor vi tager på højskoleophold, byder på enestående og overdådig natur. Det kan være alt fra snorkleture i Caribien, river rafting i Thailand, spotte brøleaber i Costa Ricas regnskove, gå på opdagelse i Inka-ruinerne i Mexico, trekke i Himalayas bjerge i Nepal, sejle kajak i marine nationalparker, dykke med manta rays på Hawaii, vandre i New Zealands fabelagtige nationalparker eller tage på safari i Sri Lanka og se leoparder, elefanter og bjørne. Alle vores rejser er fyldt med storslåede oplevelser, som du aldrig vil glemme."
      />

      <SeoPunkt
        ikon="../svg/Culture.svg"
        title="Spændende kulturoplevelser"
        description="Kulturen er vigtig at opleve, når man befinder sig i et nyt land. Det giver dig både nogle rigtigt spændende oplevelser og menneske-møder, men også en unik indsigt, du ikke kan læse dig til i en bog eller se i et rejseprogram. På vores højskole ture kan du opleve alt fra ældgamle Hindu-templer i Indien, surf-kulturen på Hawaii, Mayaindianerne i Guatemala, de gamle inkaruiner i Mexico, buddhisme i Thailand, te-plantager i Sri Lanka og kakao-farme i Costa Rica."
      />
    </div>

    <div>
      <img src="../img/Group.png" class="hidden md:block" />
    </div>
  </div>
  <section></section>
</section>
